.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.logo {
  img {
    @media screen and (max-width: 440px) {
      width: 260px;
    }

    @media screen and (max-width: 370px) {
      width: 220px;
    }
  }
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 768px) {
    display: none;
  }

  li {
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}
