@import "variables.scss";

.hero {
  z-index: -1;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba($green1, 0.5);
}

.gameContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlayInner {
    }
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 80%;
    row-gap: 24px;

    .gameInnerContainer {
      height: 100%;
      width: 100%;
      position: relative;
    }

    canvas {
      width: 100%;
      height: 100%;
      //margin-bottom: 24px;
    }

    .fullscreen {
      height: 36px;
      width: 36px;

      > svg {
        cursor: pointer;
      }
    }
  }
}
