.container {
  width: 90%;
  margin: 0 auto;
  background: rgba(7, 56, 61, 0.9);
  max-width: 1050px;
  padding: 50px 70px;
  padding-bottom: 80px;
  margin-bottom: 50px;
  border-radius: 15px;
  margin-top: 50px;

  > h1 {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
    font-weight: 300;
    color: white;
    margin-top: 0px;

    svg {
      height: 25px;
    }
  }

  .people {
    display: flex;
    column-gap: 90px;
    flex-direction: column;
    row-gap: 90px;

    @media screen and (max-width: 1120px) {
      align-items: center;
    }

    .two,
    .three {
      display: flex;
      column-gap: 90px;
      justify-content: center;

      @media screen and (max-width: 1120px) {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 90px;
      }
    }
  }
}
